<?xml version="1.0" encoding="UTF-8"?>
<suite name = "autotest">
  <test name = "test01">
    <classes>
     <class name ="studyauto.calculator.addTest"/>
    </classes> 
  </test>
  <test name = "test02">
    <classes>
     <class name = "studyauto.calculator.subtractTest"/>
    </classes> 
  </test>
</suite>